* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'roboto medium';
}
@font-face {
    font-family: 'roboto medium';
    src: url(./Fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'roboto light';
    src: url(./Fonts/Roboto-Light.ttf);
}



/* NAV bar started */
.nav-main-div {
    padding: 10px 10%;
    background-color: #270082;
    border: 2px solid gold;
}
.nav-main-div > ul > li {
    list-style-type: none;
}
/* NAV bar ended */



/* myTunes Banner Started */
.banner-main-div {
    background: url(./Assets/hero_image.png);
    height: 140vh;
    background-size: 100% 100%;
    background-position: center;
    border: 2px solid purple;
}
.banner-main-div > div > h2 {
    font-size: 7.25rem;
}
.banner-main-div > :nth-child(3) {
    font-family: 'roboto light';
    width: 60%;
}
/* myTunes Banner Ended */




/* Music started */
.music-main-div {
    background-color: #281154;
    padding: 45px 0px;
    border: 2px solid salmon;
}
.music-main-div > h3 {
    font-size: 4rem;
}
.music-main-div :nth-child(3) {
    width: 70%;
}
.music-main-div > a {
    font-family: 'roboto light';
    background-color: #dc0000;
}
.music-main-div :nth-child(5) {
    font-family: 'roboto light';
}
/* Music ended */




/* Picture No 1 Started */
.picture-1-div {
    background-image: linear-gradient(#281154 50%,#f9f6ff 50%);
    border: 2px solid red;
}
.picture-1-div > img {
    width: 65%;
}
/* Picture No 1 Ended */




/* Movie and TV collection started */
.movie-main-div {
    background-color: #f9f6ff;
    border: 2px solid brown;
}
.movie-main-div p:nth-of-type(1){
    font-weight: 600;
}
.movie-main-div p:nth-of-type(2){
    font-family: 'roboto light';
}
.movie-main-div > a {
    font-family: 'roboto light';
    background-color: #37008e;
}
/* Movie and TV collection ended */




/* Entertainment Started */
.entertainment-main-div {
    background-image: url(./Assets/video.png);
    background-size: 100% 100%;
    height: 100vh;
    border: 2px solid purple;
}
.entertainment-sub-main-div {
    margin-top: 200px;
}
/* Entertainment Ended */



/* Picture No 2 Started */
.picture-2-div {
    background-color: #f9f6ff;
    border: 2px solid green;
}
/* Picture No 2 ended */




/* Gift Cards Started */
.gift-main-div {
    padding: 100px 3%; 
    background-color: #f9f6ff;
    border: 2px solid red;
}
.gift-sub-main-div {
    flex-basis: 45%;
}
.gift-sub-main-div > h3 {
    font-size: 3vw;
}
.gift-sub-main-div > p {
    font-family: 'roboto light';
    font-size: 1.25vw;
}
hr {
    margin-top: -5px;
}
.gift-sub-main-div > a {
    font-family: 'roboto light';
    background-color: #37008e;
    font-size: 1.25vw;
}


/* GIft Cards Ended */



@media (max-width: 1000px) {
    .banner-main-div {
        height: 110vh;
    }
    .entertainment-sub-main-div {
        margin-top: 120px;
    }
    .gift-main-div {
        padding: 80px 3%; 
    }
}

@media (max-width: 800px) {
    .banner-main-div {
        height: 100vh;
    }
    .entertainment-sub-main-div {
        margin-top: 100px;
    }
    .gift-main-div {
        padding: 40px 3%; 
    }
    .gift-sub-main-div {
        flex-basis: 65%;
        align-items: center !important;
    }
    .gift-sub-main-div > h3 {
        font-size: 3rem;
    }
    .gift-sub-main-div > p {
        text-align: center;
        font-size: 1.5rem;
    }
    .gift-sub-main-div > a {
        text-align: center;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 40%;
    }
    .banner-main-div {
        height: 80vh;
    }
    .entertainment-main-div {
        height: 80vh;
    }
    .gift-main-div {
        padding: 50px 3%; 
    }

}

@media (max-width: 500px) {
    .banner-main-div {
        height: 60vh;
    }
    .entertainment-main-div {
        height: 60vh;
    }
    .entertainment-sub-main-div {
        margin-top: 60px;
    }
    .gift-main-div {
        padding: 40px 3%; 
    }
}

@media (max-width: 400px) {
    html {
        font-size: 30%;
    }
    .banner-main-div {
        height: 40vh;
    }
    .music-main-div {
        padding: 25px 0px;
    }
    .entertainment-main-div {
        height: 50vh;
    }
}


@media (max-width: 325px) {
    html {
        font-size: 25%;
    }
    .banner-main-div {
        height: 30vh;
    }
    .banner-main-div > :nth-child(3) {
        width: 60%;
    }
    .music-main-div {
        padding: 15px 0px; 
    }
    .entertainment-main-div {
        height: 40vh;
    }
    .entertainment-sub-main-div {
        margin-top: 40px;
    }
}