* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'roboto medium';
}
@font-face {
    font-family: 'roboto medium';
    src: url(./Fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'roboto light';
    src: url(./Fonts/Roboto-Light.ttf);
}

/* NAV bar started */
.nav-main-div {
    padding: 10px 10%;
    background-color: #270082;
}
ul > li {
    list-style-type: none;
}
/* NAV bar ended */

/* myTunes Banner Started */
.banner-main-div {
    background: url(./Assets/hero_image.png);
    height: 140vh;
    background-size: 100% 100%;
    background-position: center;
}
h2 {
    font-size: 7.25rem;
}
.banner-main-div > :nth-child(3) {
    font-family: 'roboto light';
    width: 60%;
}
/* myTunes Banner Ended */

/* Music started */
.music-main-div {
    background-color: #281154;
    padding: 45px 0px;
}
.music-main-div > h3 {
    font-size: 4rem;
}
.music-main-div :nth-child(3) {
    width: 70%;
}
.music-main-div > a {
    font-family: 'roboto light';
    background-color: #dc0000;
}
.music-main-div :nth-child(5) {
    font-family: 'roboto light';
}
/* Music ended */

/* Picture No 1 Started */
.picture-1-div {
    background-image: linear-gradient(#281154 50%,#ffff 50%);
}
.picture-1-div > img {
    width: 65%;
}
/* Picture No 1 Ended */

/* Movie and TV collection started */
.movie-main-div p:nth-of-type(1){
    font-weight: 600;
}
.movie-main-div p:nth-of-type(2){
    font-family: 'roboto light';
}
.movie-main-div > a {
    font-family: 'roboto light';
    background-color: #37008e;
}
/* Movie and TV collection ended */

@media (max-width: 1000px) {
    .banner-main-div {
        height: 110vh;
    }
}

@media (max-width: 800px) {
    .banner-main-div {
        height: 100vh;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 40%;
    }
    .banner-main-div {
        height: 80vh;
    }

}

@media (max-width: 500px) {
    .banner-main-div {
        height: 60vh;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 25%;
    }
    .banner-main-div {
        height: 40vh;
    }
    .music-main-div {
        padding: 25px;
    }
}


@media (max-width: 325px) {
    .banner-main-div {
        height: 30vh;
    }
}